<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <h1>{{ pageTitle }}</h1>
    <h2>{{ subTitle }}</h2>
    <h2>{{ subsubTitle }}</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae omnis animi vero aspernatur, ab quos eius aut
        repellat commodi? Eos, similique molestiae dolore hic illum explicabo quasi nihil consectetur iusto ipsum, atque
        sed exercitationem, voluptatem quia pariatur. Consectetur perspiciatis omnis culpa, nihil consequatur autem
        saepe, provident placeat natus, quod molestiae. Consectetur error ipsa mollitia est facere quod eveniet
        asperiores similique eligendi. Est iste facere consequatur tempore suscipit, totam cupiditate provident ipsa.
        Ut, quae. Quam fuga, officia facilis fugiat provident quo. Quaerat ab amet voluptates illum, minus eaque vel
        deleniti molestiae! Vel reiciendis rerum excepturi. Id totam praesentium suscipit labore ullam nemo deleniti,
        minus eius eos. Nam at voluptas dolore reprehenderit dolor odit qui tenetur itaque laborum adipisci. Placeat
        temporibus labore sapiente architecto in, harum aperiam eum maxime quidem non molestiae suscipit ea aut soluta
        reiciendis excepturi, dignissimos ullam? Excepturi, nesciunt eius, tempora harum ullam culpa temporibus expedita
        nulla facilis laborum minima veniam officia saepe fugit quia animi laudantium placeat odio a sequi. Fugit
        ratione rerum excepturi. Porro quam doloremque optio enim libero, odit doloribus non nostrum est sequi
        voluptatum aliquam rem ad earum, recusandae aperiam veniam ea. Eveniet, rem. Optio excepturi nam dolore facere.
    </p>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>

    <form action="">
        <div>siema</div>
        <input type="text" id="salary" placeholder="wprowadź swoją wypłatę">
        <button id="getSalary">Wyślij</button>
        <p id="result"></p>
    </form>

    <script src="../js/func.js"></script>
</body>

</html>